@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
  25% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
    opacity: 1;
  }
  50% {
    -webkit-transform: rotate(2turn);
            transform: rotate(2turn);
    opacity: 1;
  }
  75% {
    -webkit-transform: rotate(3turn);
            transform: rotate(3turn);
    opacity: 1;
  }
  95% {
    -webkit-transform: rotate(4turn);
            transform: rotate(4turn);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(5turn);
            transform: rotate(5turn);
    opacity: 0;
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
  25% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
    opacity: 1;
  }
  50% {
    -webkit-transform: rotate(2turn);
            transform: rotate(2turn);
    opacity: 1;
  }
  75% {
    -webkit-transform: rotate(3turn);
            transform: rotate(3turn);
    opacity: 1;
  }
  95% {
    -webkit-transform: rotate(4turn);
            transform: rotate(4turn);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(5turn);
            transform: rotate(5turn);
    opacity: 0;
  }
}

@-webkit-keyframes circle1 {
  0%, 31%, 37%, 43%, 50%, 80%, 85%, 90%, 95% {
    opacity: 1;
  }
  6%, 12%, 18%, 25%, 56%, 62%, 68%, 75%, 100% {
    opacity: 0;
  }
}

@keyframes circle1 {
  0%, 31%, 37%, 43%, 50%, 80%, 85%, 90%, 95% {
    opacity: 1;
  }
  6%, 12%, 18%, 25%, 56%, 62%, 68%, 75%, 100% {
    opacity: 0;
  }
}

@-webkit-keyframes circle2 {
  0%, 3%, 35%, 43%, 50%, 53%, 83%, 90%, 95% {
    opacity: 1;
  }
  10%, 18%, 25%, 28%, 60%, 68%, 75%, 77%, 100% {
    opacity: 0;
  }
}

@keyframes circle2 {
  0%, 3%, 35%, 43%, 50%, 53%, 83%, 90%, 95% {
    opacity: 1;
  }
  10%, 18%, 25%, 28%, 60%, 68%, 75%, 77%, 100% {
    opacity: 0;
  }
}

@-webkit-keyframes circle3 {
  0%, 4%, 9%, 41%, 50%, 54%, 59%, 88%, 95% {
    opacity: 1;
  }
  16%, 25%, 29%, 34%, 66%, 75%, 78%, 82%, 100% {
    opacity: 0;
  }
}

@keyframes circle3 {
  0%, 4%, 9%, 41%, 50%, 54%, 59%, 88%, 95% {
    opacity: 1;
  }
  16%, 25%, 29%, 34%, 66%, 75%, 78%, 82%, 100% {
    opacity: 0;
  }
}

@-webkit-keyframes circle4 {
  0%, 4%, 10%, 15%, 48%, 54%, 60%, 65%, 93% {
    opacity: 1;
  }
  23%, 29%, 35%, 40%, 73%, 78%, 83%, 87%, 100% {
    opacity: 0;
  }
}

@keyframes circle4 {
  0%, 4%, 10%, 15%, 48%, 54%, 60%, 65%, 93% {
    opacity: 1;
  }
  23%, 29%, 35%, 40%, 73%, 78%, 83%, 87%, 100% {
    opacity: 0;
  }
}

@-webkit-keyframes index {
  0% {
    -webkit-transform: translateX(-9999px);
            transform: translateX(-9999px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes index {
  0% {
    -webkit-transform: translateX(-9999px);
            transform: translateX(-9999px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes menu {
  0% {
    -webkit-transform: translateY(400px);
            transform: translateY(400px);
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes menu {
  0% {
    -webkit-transform: translateY(400px);
            transform: translateY(400px);
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes check1 {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 1;
  }
}

@keyframes check1 {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 1;
  }
}

@-webkit-keyframes check2 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(2turn);
            transform: rotate(2turn);
  }
}

@keyframes check2 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(2turn);
            transform: rotate(2turn);
  }
}

@-webkit-keyframes heart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes heart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html {
  font-size: 18px;
}

body {
  width: 100%;
  margin: 0;
}

@media screen and (min-width: 1025px) {
  body {
    width: 90%;
    margin: auto;
  }
}

body, main, h1, h2, h3, section, article, aside, img, p, header, footer, div, a, button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: black;
}

ul li {
  list-style: none;
}

ul {
  padding: 0;
}

/* shrikhand-regular - latin: Police pour le logo et les titres h1 */
@font-face {
  font-family: 'Shrikhand';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/shrikhand-v6-latin/shrikhand-v6-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/shrikhand-v6-latin/shrikhand-v6-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/shrikhand-v6-latin/shrikhand-v6-latin-regular.woff2") format("woff2"), url("../fonts/shrikhand-v6-latin/shrikhand-v6-latin-regular.woff") format("woff"), url("../fonts/shrikhand-v6-latin/shrikhand-v6-latin-regular.ttf") format("truetype"), url("../fonts/shrikhand-v6-latin/shrikhand-v6-latin-regular.svg#Shrikhand") format("svg");
  /* Legacy iOS */
}

/* roboto-regular - latin: police pour le texte*/
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v20-latin/roboto-v20-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin/roboto-v20-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin/roboto-v20-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v20-latin/roboto-v20-latin-regular.woff") format("woff"), url("../fonts/roboto-v20-latin/roboto-v20-latin-regular.ttf") format("truetype"), url("../fonts/roboto-v20-latin/roboto-v20-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-700 - latin: police pour certains titres*/
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v20-latin/roboto-v20-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin/roboto-v20-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin/roboto-v20-latin-700.woff2") format("woff2"), url("../fonts/roboto-v20-latin/roboto-v20-latin-700.woff") format("woff"), url("../fonts/roboto-v20-latin/roboto-v20-latin-700.ttf") format("truetype"), url("../fonts/roboto-v20-latin/roboto-v20-latin-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-500 - latin: police pour certains titres*/
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v20-latin/roboto-v20-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin/roboto-v20-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin/roboto-v20-latin-500.woff2") format("woff2"), url("../fonts/roboto-v20-latin/roboto-v20-latin-500.woff") format("woff"), url("../fonts/roboto-v20-latin/roboto-v20-latin-500.ttf") format("truetype"), url("../fonts/roboto-v20-latin/roboto-v20-latin-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-regular - latin: police pour certains texte*/
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/roboto-v20-latin/roboto-v20-latin-100.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin/roboto-v20-latin-100.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin/roboto-v20-latin-100.woff2") format("woff2"), url("../fonts/roboto-v20-latin/roboto-v20-latin-100.woff") format("woff"), url("../fonts/roboto-v20-latin/roboto-v20-latin-100.ttf") format("truetype"), url("../fonts/roboto-v20-latin/roboto-v20-latin-100.svg#Roboto") format("svg");
  /* Legacy iOS */
}

h1 {
  font-family: 'Shrikhand';
  font-weight: bold;
  font-size: 2rem;
}

section h2, aside h2, div h2 {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 1.3rem;
}

h3 {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 1.1rem;
}

a, button, li {
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 1rem;
}

p {
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 1rem;
}

.btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
  border: none;
  border-radius: 50px;
  text-align: center;
  padding: 5% 15%;
  -webkit-box-shadow: #8c8c8c 3px 3px 10px;
          box-shadow: #8c8c8c 3px 3px 10px;
  -webkit-transition: all 500ms linear 0s;
  transition: all 500ms linear 0s;
  color: white;
}

.btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#fface8), to(#ae80e5));
  background: linear-gradient(to bottom, #fface8, #ae80e5);
  -webkit-box-shadow: #8c8c8c 8px 8px 20px;
          box-shadow: #8c8c8c 8px 8px 20px;
  outline-style: none;
}

@media screen and (min-width: 1025px) {
  .btn {
    padding: 3% 10%;
  }
}

@media screen and (orientation: landscape) and (min-width: 800px) and (max-width: 1025px) {
  .btn {
    padding: 3% 10%;
  }
}

.palette {
  background-image: url(../images/restaurants/palette.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.note {
  background-image: url(../images/restaurants/note.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  -o-object-position: bottom;
     object-position: bottom;
}

.francaise {
  background-image: url(../images/restaurants/francaise.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.delice {
  background-image: url(../images/restaurants/delice.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.container {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 2;
  -webkit-animation: index 0ms 3s both;
          animation: index 0ms 3s both;
}

.heart {
  position: relative;
  width: 20px;
  height: 20px;
  text-align: center;
}

.heart:hover .heart--full {
  -webkit-animation: heart 700ms ease-out 0ms both;
          animation: heart 700ms ease-out 0ms both;
}

.heart--empty {
  display: inline-block;
  position: absolute;
  z-index: 2;
  font-size: 1.3rem;
}

.heart--full {
  display: inline-block;
  position: absolute;
  z-index: 1;
  font-size: 1.3rem;
  color: #9356DC;
  opacity: 0;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

header {
  margin: 3%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header h1 {
  margin: 0;
}

header div {
  width: 50%;
  text-align: center;
}

header i {
  font-size: 1.5rem;
  position: absolute;
  top: 3%;
  left: 5%;
}

footer {
  width: 100%;
  background-color: #3a3a3a;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5%;
}

footer a {
  color: white;
}

footer h2 {
  font-family: 'Shrikhand';
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 0;
}

footer nav {
  margin-left: 10px;
}

footer li {
  margin: 2%;
}

footer li:nth-child(1) i {
  margin-right: 3.6%;
}

footer li:nth-child(2) i {
  margin-right: 2%;
}

.spinner-container {
  width: 260px;
  height: 260px;
  position: absolute;
  left: 20%;
  top: 30%;
  z-index: 1;
}

@media screen and (min-width: 1025px) {
  .spinner-container {
    width: 410px;
    height: 410px;
    left: 35%;
  }
}

.spinner-container .circle1 {
  z-index: 2;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border-right: #9356DC 4px solid;
  position: absolute;
  -webkit-animation: circle1 3s 0s both;
          animation: circle1 3s 0s both;
}

@media screen and (min-width: 1025px) {
  .spinner-container .circle1 {
    width: 400px;
    height: 400px;
  }
}

.spinner-container .circle2 {
  z-index: 3;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border-bottom: #9356DC 4px solid;
  position: absolute;
  -webkit-animation: circle2 3s 0s both;
          animation: circle2 3s 0s both;
}

@media screen and (min-width: 1025px) {
  .spinner-container .circle2 {
    width: 400px;
    height: 400px;
  }
}

.spinner-container .circle3 {
  z-index: 4;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border-left: #9356DC 4px solid;
  position: absolute;
  -webkit-animation: circle3 3s 0s both;
          animation: circle3 3s 0s both;
}

@media screen and (min-width: 1025px) {
  .spinner-container .circle3 {
    width: 400px;
    height: 400px;
  }
}

.spinner-container .circle4 {
  z-index: 5;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border-top: #9356DC 4px solid;
  position: absolute;
  -webkit-animation: circle4 3s 0s both;
          animation: circle4 3s 0s both;
}

@media screen and (min-width: 1025px) {
  .spinner-container .circle4 {
    width: 400px;
    height: 400px;
  }
}

.spinner-container .spinner {
  width: 50%;
  height: 50%;
  position: relative;
  left: 50%;
  z-index: 1;
  text-align: center;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-animation: spinner 3s 0s both;
          animation: spinner 3s 0s both;
}

.localisation {
  text-align: center;
  background-color: #dedede;
  -webkit-box-shadow: #a6a6a6 0px 1px 5px inset;
          box-shadow: #a6a6a6 0px 1px 5px inset;
}

.localisation ul {
  margin: 0;
  padding: 5%;
}

@media screen and (min-width: 1025px) {
  .localisation ul {
    padding: 3%;
  }
}

@media screen and (orientation: landscape) and (min-width: 800px) and (max-width: 1025px) {
  .localisation ul {
    padding: 2%;
  }
}

.localisation i {
  padding-right: 5%;
}

@media screen and (min-width: 1025px) {
  .index {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2%;
  }
}

@media screen and (orientation: landscape) and (min-width: 800px) and (max-width: 1025px) {
  .index {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2%;
  }
}

.index section {
  text-align: center;
  background-color: #F2F2F2;
  padding: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.index section p {
  margin: 1% 0 15%;
}

.index section h2 {
  text-align: center;
  margin: 1% 0 3%;
  padding: 0 6%;
}

@media screen and (min-width: 1025px) {
  .index section {
    width: 50%;
    padding: 3% 0;
  }
}

@media screen and (orientation: landscape) and (min-width: 800px) and (max-width: 1025px) {
  .index section {
    width: 50%;
    padding: 3% 0;
  }
}

.index aside {
  padding: 10% 0;
}

@media screen and (min-width: 1025px) {
  .index aside {
    width: 50%;
    padding: 3% 0;
  }
}

@media screen and (orientation: landscape) and (min-width: 800px) and (max-width: 1025px) {
  .index aside {
    width: 50%;
    padding: 3% 0;
  }
}

.index aside ul {
  margin: 2%;
}

.index aside ul li {
  font-weight: 500;
  position: relative;
  text-align: left;
  padding: 7%;
  margin: 5% auto;
  border-radius: 25px;
  -webkit-box-shadow: #d9d9d9 1px 3px 15px;
          box-shadow: #d9d9d9 1px 3px 15px;
  width: 75%;
  white-space: nowrap;
}

.index aside ul li:nth-child(1), .index aside ul li:nth-child(2) {
  background-color: #F2F2F2;
}

.index aside ul li:nth-child(1) i, .index aside ul li:nth-child(2) i {
  color: #8c8c8c;
}

.index aside ul li:nth-child(3) {
  background-color: #e9ddf8;
}

.index aside ul li:nth-child(3) i {
  color: #9356DC;
}

.index aside ul li span {
  display: inline-block;
  text-align: center;
  line-height: 20px;
  width: 20px;
  height: 20px;
  background-color: #9356DC;
  font-size: 0.8rem;
  color: white;
  padding: 5px;
  margin: 1%;
  border-radius: 50%;
  position: absolute;
  bottom: 25%;
  right: 95%;
}

.index aside ul li i {
  margin-left: 5%;
  margin-right: 10%;
}

.index aside h2 {
  text-align: center;
  margin-left: 5%;
}

#choix {
  width: 100%;
  padding: 10% 3%;
  background-color: #F2F2F2;
}

@media screen and (min-width: 1025px) {
  #choix {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 5% 3%;
  }
}

@media screen and (orientation: landscape) and (min-width: 800px) and (max-width: 1025px) {
  #choix {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 5% 3%;
  }
}

#choix h2 {
  padding: 3%;
  width: 100%;
  margin: 0%;
}

#choix article {
  max-width: 90%;
  width: 370px;
  margin: 4% auto;
  height: 280px;
  border-radius: 12px;
  background-color: white;
  -webkit-box-shadow: #d9d9d9 1px 2px;
          box-shadow: #d9d9d9 1px 2px;
}

#choix article img {
  width: 100%;
  height: 200px;
  border-radius: 12px 12px 0 0;
  -o-object-position: bottom;
     object-position: bottom;
}

#choix article h3, #choix article p {
  margin: 0 0 0 2%;
  padding: 1%;
}

#choix article span {
  margin: 0;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 2% 3%;
  position: absolute;
  right: 5%;
  top: 5%;
  background-color: #99E2D0;
  color: #299077;
  border-radius: 5px;
}

#choix article a div:nth-child(1) {
  position: relative;
}

#choix article .resto {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#choix article .resto div {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.menu .empty {
  background-color: rgba(255, 255, 255, 0);
  min-height: 240px;
}

@media screen and (min-width: 1025px) {
  .menu .empty {
    min-height: 500px;
  }
}

@media screen and (orientation: landscape) and (min-width: 800px) and (max-width: 1025px) {
  .menu .empty {
    min-height: 500px;
  }
}

.menu section {
  background-color: #F2F2F2;
  border-radius: 40px 40px 0 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 5px 30px;
}

.carte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10%;
  width: 100%;
  padding: 0 3%;
}

.carte h2 {
  width: 50px;
  overflow: visible;
  font-weight: 100;
  border-bottom: #99E2D0 2px solid;
}

.carte article {
  background-color: white;
  padding: 2%;
  width: 100%;
  border-radius: 15px;
  -webkit-box-shadow: 2px 2px 5px #a6a6a6;
          box-shadow: 2px 2px 5px #a6a6a6;
  z-index: 2;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all 1s ease-out 100ms;
  transition: all 1s ease-out 100ms;
}

.carte article h3, .carte article p {
  margin: 0;
}

.carte article p {
  font-size: 0.9rem;
  width: 80%;
  white-space: nowrap;
}

.carte article p:nth-child(1) {
  overflow: hidden;
  text-overflow: ellipsis;
}

.carte article h3 {
  font-size: 1rem;
  width: 100%;
}

.carte article div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.carte article div p:nth-child(2) {
  font-weight: bold;
  padding-right: 3%;
  margin-right: 2%;
  width: 20%;
  text-align: right;
}

.carte .entrees, .carte .plats, .carte .desserts {
  width: 100%;
  margin: auto;
}

.carte .entrees div, .carte .plats div, .carte .desserts div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2% auto;
  padding: 0;
  position: relative;
}

.carte .entrees div .check, .carte .plats div .check, .carte .desserts div .check {
  background-color: #99E2D0;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 15%;
  padding: 4%;
  margin: 0;
  border-radius: 0 15px 15px 0;
  position: absolute;
  z-index: 1;
  bottom: 0px;
  right: 0px;
}

.carte .entrees div .check i, .carte .plats div .check i, .carte .desserts div .check i {
  display: none;
  -webkit-animation: check2 1s ease-out 0ms both;
          animation: check2 1s ease-out 0ms both;
  background-color: white;
  color: #99E2D0;
  text-align: center;
  line-height: 30px;
  min-width: 30px;
  min-height: 30px;
  font-size: 1.3rem;
  padding: 2%;
  border-radius: 50%;
}

.carte .entrees div:hover article, .carte .plats div:hover article, .carte .desserts div:hover article {
  border-radius: 15px 0 0 15px;
  width: 85%;
  -webkit-box-shadow: -2px -2px 5px #a6a6a6;
          box-shadow: -2px -2px 5px #a6a6a6;
}

.carte .entrees div:hover .check, .carte .plats div:hover .check, .carte .desserts div:hover .check {
  -webkit-animation: check1 1s ease-out 0ms both;
          animation: check1 1s ease-out 0ms both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.carte .entrees div:hover .check i, .carte .plats div:hover .check i, .carte .desserts div:hover .check i {
  -webkit-animation: check2 1s ease-out 0ms both;
          animation: check2 1s ease-out 0ms both;
  display: block;
}

@media screen and (min-width: 1025px) {
  .carte .entrees, .carte .plats, .carte .desserts {
    width: 40%;
  }
}

@media screen and (orientation: landscape) and (min-width: 800px) and (max-width: 1025px) {
  .carte .entrees, .carte .plats, .carte .desserts {
    width: 40%;
  }
}

@media screen and (min-width: 1025px) {
  .carte .entrees article div, .carte .plats article div, .carte .desserts article div {
    width: 100%;
  }
}

@media screen and (orientation: landscape) and (min-width: 800px) and (max-width: 1025px) {
  .carte .entrees article div, .carte .plats article div, .carte .desserts article div {
    width: 100%;
  }
}

.nom-resto {
  width: 95%;
  padding: 3% 10% 3% 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nom-resto h2 {
  font-family: 'Shrikhand';
  font-size: 1.5rem;
  border: none;
}

.entrees h2 {
  -webkit-animation: menu 1s 0ms ease-out both;
          animation: menu 1s 0ms ease-out both;
}

.entrees div:nth-child(2) article {
  -webkit-animation: menu 1s 200ms ease-out both;
          animation: menu 1s 200ms ease-out both;
}

.entrees div:nth-child(3) article {
  -webkit-animation: menu 1s 400ms ease-out both;
          animation: menu 1s 400ms ease-out both;
}

.entrees div:nth-child(4) article {
  -webkit-animation: menu 1s 600ms ease-out both;
          animation: menu 1s 600ms ease-out both;
}

.entrees div:nth-child(5) article {
  -webkit-animation: menu 1s 800ms ease-out both;
          animation: menu 1s 800ms ease-out both;
}

.plats h2 {
  -webkit-animation: menu 1s 1000ms ease-out both;
          animation: menu 1s 1000ms ease-out both;
}

.plats div:nth-child(2) article {
  -webkit-animation: menu 1s 1200ms ease-out both;
          animation: menu 1s 1200ms ease-out both;
}

.plats div:nth-child(3) article {
  -webkit-animation: menu 1s 1400ms ease-out both;
          animation: menu 1s 1400ms ease-out both;
}

.plats div:nth-child(4) article {
  -webkit-animation: menu 1s 1600ms ease-out both;
          animation: menu 1s 1600ms ease-out both;
}

.desserts h2 {
  -webkit-animation: menu 1s 1800ms ease-out both;
          animation: menu 1s 1800ms ease-out both;
}

.desserts div:nth-child(2) article {
  -webkit-animation: menu 1s 2000ms ease-out both;
          animation: menu 1s 2000ms ease-out both;
}

.desserts div:nth-child(3) article {
  -webkit-animation: menu 1s 2200ms ease-out both;
          animation: menu 1s 2200ms ease-out both;
}

.desserts div:nth-child(4) article {
  -webkit-animation: menu 1s 2400ms ease-out both;
          animation: menu 1s 2400ms ease-out both;
}
/*# sourceMappingURL=main.css.map */