@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  10% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  70% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  10% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  70% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

@-webkit-keyframes index {
  0% {
    -webkit-transform: translateX(-9999px);
            transform: translateX(-9999px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes index {
  0% {
    -webkit-transform: translateX(-9999px);
            transform: translateX(-9999px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

html {
  font-size: 18px;
}

body {
  width: 100%;
  margin: 0;
}

@media screen and (min-width: 1025px) {
  body {
    width: 90%;
    margin: auto;
  }
}

body, main, h1, h2, h3, section, article, aside, img, p, header, footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: black;
}

ul li {
  list-style: none;
}

ul {
  padding: 0;
}

/* shrikhand-regular - latin: Police pour le logo et les titres h1 */
@font-face {
  font-family: 'Shrikhand';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/shrikhand-v6-latin/shrikhand-v6-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/shrikhand-v6-latin/shrikhand-v6-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/shrikhand-v6-latin/shrikhand-v6-latin-regular.woff2") format("woff2"), url("../fonts/shrikhand-v6-latin/shrikhand-v6-latin-regular.woff") format("woff"), url("../fonts/shrikhand-v6-latin/shrikhand-v6-latin-regular.ttf") format("truetype"), url("../fonts/shrikhand-v6-latin/shrikhand-v6-latin-regular.svg#Shrikhand") format("svg");
  /* Legacy iOS */
}

/* roboto-regular - latin: police pour le texte*/
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v20-latin/roboto-v20-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin/roboto-v20-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin/roboto-v20-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v20-latin/roboto-v20-latin-regular.woff") format("woff"), url("../fonts/roboto-v20-latin/roboto-v20-latin-regular.ttf") format("truetype"), url("../fonts/roboto-v20-latin/roboto-v20-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-regular - latin: police pour certains titres*/
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v20-latin/roboto-v20-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin/roboto-v20-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin/roboto-v20-latin-700.woff2") format("woff2"), url("../fonts/roboto-v20-latin/roboto-v20-latin-700.woff") format("woff"), url("../fonts/roboto-v20-latin/roboto-v20-latin-700.ttf") format("truetype"), url("../fonts/roboto-v20-latin/roboto-v20-latin-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-regular - latin: police pour certains titres*/
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v20-latin/roboto-v20-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin/roboto-v20-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin/roboto-v20-latin-500.woff2") format("woff2"), url("../fonts/roboto-v20-latin/roboto-v20-latin-500.woff") format("woff"), url("../fonts/roboto-v20-latin/roboto-v20-latin-500.ttf") format("truetype"), url("../fonts/roboto-v20-latin/roboto-v20-latin-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}

h1 {
  font-family: 'Shrikhand';
  font-weight: bold;
  font-size: 2rem;
}

section h2, aside h2, div h2 {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 1.3rem;
}

h3 {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 1.1rem;
}

p, a, button, li {
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 1rem;
}

button {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: white;
  border: none;
  border-radius: 50px;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
}

@media screen and (min-width: 1025px) {
  button {
    padding-top: 3%;
    padding-bottom: 3%;
  }
}

@media screen and (orientation: landscape) and (min-width: 800px) and (max-width: 1025px) {
  button {
    padding-top: 3%;
    padding-bottom: 3%;
  }
}

.palette {
  background-image: url(../../images/restaurants/palette.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.note {
  background-image: url(../../images/restaurants/note.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  -o-object-position: bottom;
     object-position: bottom;
}

.francaise {
  background-image: url(../../images/restaurants/francaise.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.delice {
  background-image: url(../../images/restaurants/delice.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.container {
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-animation: index 0ms 3s both;
          animation: index 0ms 3s both;
}

.spinner-container {
  width: 400px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-animation: spinner 3s 0s both;
          animation: spinner 3s 0s both;
}

.spinner-container .spinner {
  width: 100%;
  height: 100%;
  text-align: center;
}

header {
  margin: 3%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header h1 {
  margin: 0;
}

header div {
  width: 50%;
  text-align: center;
}

header i {
  font-size: 1.5rem;
  position: absolute;
  top: 3%;
  left: 5%;
}

footer {
  width: 100%;
  background-color: #3a3a3a;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5%;
}

footer a {
  color: white;
}

footer h2 {
  font-family: 'Shrikhand';
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 0;
}

footer nav {
  margin-left: 10px;
}

footer li {
  margin: 2%;
}

footer li:nth-child(1) i {
  margin-right: 3.6%;
}

footer li:nth-child(2) i {
  margin-right: 2%;
}

.localisation {
  text-align: center;
  background-color: #d9d9d9;
  -webkit-box-shadow: #a6a6a6 0px 1px 2px inset;
          box-shadow: #a6a6a6 0px 1px 2px inset;
}

.localisation ul {
  margin: 0;
  padding: 10px;
}

.localisation i {
  padding-right: 5%;
}

@media screen and (min-width: 1025px) {
  .index {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2%;
  }
}

@media screen and (orientation: landscape) and (min-width: 800px) and (max-width: 1025px) {
  .index {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2%;
  }
}

.index section {
  text-align: center;
  background-color: #F2F2F2;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index section p {
  color: #8c8c8c;
}

.index section h2 {
  text-align: center;
}

@media screen and (min-width: 1025px) {
  .index aside {
    width: 50%;
  }
}

@media screen and (orientation: landscape) and (min-width: 800px) and (max-width: 1025px) {
  .index aside {
    width: 50%;
  }
}

.index aside ul {
  margin: 2%;
}

.index aside ul li {
  width: 85%;
  font-weight: 500;
}

.index aside ul li:nth-child(1), .index aside ul li:nth-child(2) {
  background-color: #F2F2F2;
}

.index aside ul li:nth-child(1) i, .index aside ul li:nth-child(2) i {
  color: #8c8c8c;
}

.index aside ul li:nth-child(3) {
  background-color: #e9ddf8;
}

.index aside ul li:nth-child(3) i {
  color: #9356DC;
}

.index aside ul li span {
  display: inline-block;
  text-align: center;
  line-height: 20px;
  width: 20px;
  height: 20px;
  background-color: #9356DC;
  font-size: 0.8rem;
  color: white;
  padding: 5px;
  margin: 1%;
  border-radius: 50%;
  position: relative;
  right: 10%;
}

.index aside ul li i {
  margin-left: 0;
  margin-right: 5%;
}

.index aside h2 {
  text-align: center;
  margin-left: 5%;
}

.index aside li {
  text-align: left;
  padding: 3%;
  margin: 5%;
  border-radius: 18px;
  -webkit-box-shadow: #d9d9d9 1px 3px;
          box-shadow: #d9d9d9 1px 3px;
  width: 70%;
  white-space: nowrap;
}

#choix {
  width: 100%;
  padding: 3%;
  background-color: #F2F2F2;
}

@media screen and (min-width: 1025px) {
  #choix {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (orientation: landscape) and (min-width: 800px) and (max-width: 1025px) {
  #choix {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

#choix h2 {
  padding: 3%;
  width: 100%;
  margin: 0%;
}

#choix article {
  width: 90%;
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: auto;
  margin-right: auto;
  height: 280px;
  border-radius: 12px;
  background-color: white;
  -webkit-box-shadow: #d9d9d9 1px 2px;
          box-shadow: #d9d9d9 1px 2px;
}

@media screen and (orientation: landscape) and (min-width: 800px) and (max-width: 1025px) {
  #choix article {
    width: 40%;
  }
}

@media screen and (min-width: 1025px) {
  #choix article {
    width: 40%;
  }
}

#choix article img {
  width: 100%;
  height: 200px;
  border-radius: 12px 12px 0 0;
}

#choix article h3, #choix article p {
  margin-left: 2%;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 1%;
}

#choix article i {
  display: inline-block;
  width: 35%;
  font-size: 1.5rem;
  text-align: right;
  padding-right: 5%;
  padding-top: 1%;
}

#choix article .new {
  margin: 0;
  text-align: center;
  font-size: 0.9rem;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 4%;
  padding-left: 4%;
  position: relative;
  bottom: 80%;
  left: 70%;
  background-color: #99E2D0;
  color: #2c9c81;
  border-radius: 5px;
}

#choix article .resto {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#choix article .resto div {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.menu .empty {
  background-color: rgba(255, 255, 255, 0);
  min-height: 230px;
}

@media screen and (min-width: 1025px) {
  .menu .empty {
    min-height: 500px;
  }
}

@media screen and (orientation: landscape) and (min-width: 800px) and (max-width: 1025px) {
  .menu .empty {
    min-height: 500px;
  }
}

.menu h2 {
  font-weight: normal;
  border-bottom: #99E2D0 2px solid;
}

.menu section {
  background-color: #F2F2F2;
  border-radius: 40px 40px 0 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 10%;
}

.menu article {
  background-color: white;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 1%;
  margin-left: 1%;
  padding: 4%;
  width: 100%;
  border-radius: 15px;
}

.menu article h3, .menu article p {
  margin: 0;
}

.menu article p {
  font-size: 0.9rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
}

.menu article h3 {
  font-size: 1rem;
  width: 100%;
}

.menu article div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu article div p:nth-child(2) {
  font-weight: bold;
}

.carte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 10%;
  width: 100%;
}

.carte h2 {
  width: 50px;
  overflow: visible;
}

.carte div {
  width: 100%;
}

@media screen and (min-width: 1025px) {
  .carte div {
    width: 40%;
  }
}

@media screen and (orientation: landscape) and (min-width: 800px) and (max-width: 1025px) {
  .carte div {
    width: 40%;
  }
}

@media screen and (min-width: 1025px) {
  .carte div article div {
    width: 100%;
  }
}

@media screen and (orientation: landscape) and (min-width: 800px) and (max-width: 1025px) {
  .carte div article div {
    width: 100%;
  }
}

.nom-resto {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nom-resto i {
  display: inline-block;
  font-size: 1.2rem;
  line-height: 70px;
}

.nom-resto h2 {
  font-family: 'Shrikhand';
  font-size: 1.5rem;
  border: none;
}
/*# sourceMappingURL=main.css.map */