footer
{
    width: 100%;
    background-color: darken($color: $color-fourth, $amount: 72%);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 5%;
    a
    {
        color: white;
    }
    h2
    {
        font-family:'Shrikhand';
        font-size: 1.1rem;
        font-weight: bold;
        margin-top: 10px;
        margin-left:10px;
        margin-bottom: 0;
    }
    nav
    {
        margin-left:10px;
    }

    li
    {
        margin: 2%;
    }

    li:nth-child(1)
    {
       i{margin-right:3.6%;}
    }
    li:nth-child(2)
    {
        i{margin-right:2%;}
    }
    

}
