header
{
    margin: 3%;
    text-align: center;
    display: flex;
    justify-content: center;
    h1
    {
        margin: 0;
    }
    div
    {
        width:50%;
        text-align: center;
    }
    i
    {
        font-size: 1.5rem;
        position: absolute;
        top: 3%;
        left: 5%;
    }
}