.palette
{
    background-image: url(../../images/restaurants/palette.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.note
{
    background-image: url(../../images/restaurants/note.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    object-position: bottom;
}

.francaise
{
    background-image: url(../../images/restaurants/francaise.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.delice
{
    background-image: url(../../images/restaurants/delice.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
}