button
{
    background: linear-gradient( to bottom, $color-secondry,$color-primary) ;
    color: white;
    border: none;
    border-radius: 50px;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
}