button
{
    background: $color-btn ;
    z-index: 1;
    color: white;
    border: none;
    border-radius: 50px;
    text-align: center;
    padding: 5% 10%;
    transition: all 1s linear 0;
    &:active
    {
        background: $color-btn-light;   
    }
    
    @include ordi
    {
        padding: 3% 10%;
        &:hover
        {
            background: $color-btn-light;
        }
    }
    @include tablette
    {
        padding-top: 3%;
        padding-bottom: 3%;
    }
}