html
{
    font-size: 16px;
}

body
{
    width:100%;
    margin: 0;
    box-sizing: border-box;
}

img
{
    object-fit: cover;
    overflow: hidden;
}

a
{
    text-decoration: none;
    color: black;
}

ul li
{
    list-style: none;
}

ul
{
    padding: 0;
}