/* shrikhand-regular - latin: Police pour le logo et les titres h1 */
@font-face {
    font-family: 'Shrikhand';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/shrikhand-v6-latin/shrikhand-v6-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/shrikhand-v6-latin/shrikhand-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/shrikhand-v6-latin/shrikhand-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/shrikhand-v6-latin/shrikhand-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/shrikhand-v6-latin/shrikhand-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/shrikhand-v6-latin/shrikhand-v6-latin-regular.svg#Shrikhand') format('svg'); /* Legacy iOS */
}

  /* roboto-regular - latin: police pour le texte*/
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v20-latin/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v20-latin/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v20-latin/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v20-latin/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v20-latin/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v20-latin/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
 /* roboto-regular - latin: police pour certains titres*/
 @font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v20-latin/roboto-v20-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/roboto-v20-latin/roboto-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-latin/roboto-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin/roboto-v20-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-latin/roboto-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-latin/roboto-v20-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin: police pour certains titres*/
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v20-latin/roboto-v20-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/roboto-v20-latin/roboto-v20-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-latin/roboto-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin/roboto-v20-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-latin/roboto-v20-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-latin/roboto-v20-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}

h1
{
  font-family: 'Shrikhand';
  font-weight: bold;
  font-size: 2rem;
}


section h2, aside h2, div h2
{
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 1.3rem;
}

h3
{
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 1.1rem;
}

p, a, button, li
{
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 1rem;
}  